@model StockViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table>
        <tr>
            <th style="width:25%">代號</th>
            <th style="width:40%">名稱</th>
            <th style="width:35%">收盤價</th>
        </tr>

        @foreach (var stock in Model.Stocks)
        {
            <tr>
                <td>@stock.Code</td>
                <td>@stock.Name</td>
                <td>@stock.ClosingPrice</td>
            </tr>
        }
    </table>
</div>
